{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
<div class="PageGames">
    <h1 class="Pageh1">Jeux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Mode multijoueur</th>
                <th>photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.title }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.hasMultiplayerMode ? 'oui' : 'non' }}</td>
                <td> <img src={{ game.picture }}></td>
                <td>
                    <a class="linksGame" href="{{ path('app_backoffice_game_show', {'id': game.id}) }}">En voir plus</a>
                    <a class="linksGame" href="{{ path('app_backoffice_game_edit', {'id': game.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Bibliothèque de jeux vide, </td> <a href="{{ path('app_backoffice_game_new') }}">ajoute-en !</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="footer" href="{{ path('app_backoffice_game_new') }}">Ajouter un jeu</a>
    <a class="footer" href="{{ path('app_backoffice_main') }}">Retour au menu</a>
</div>
{% endblock %}
